$primary-color: #405d27;
$secondary-color: #3e4444;

main.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: lighten($primary-color, 20%);

  h1 {
    color: $primary-color;
  }

  p {
    color: $secondary-color;
  }
}
